body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  display: block;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #745785;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}
h3 {
  margin: 10px 0px 23px;
  font-family: Montserrat, sans-serif;
  color: #745785;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4184b0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}
p {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-right: 35px;
  padding-left: 35px;
  font-family: Bitter, serif;
  color: #313c8f;
  font-size: 16px;
  line-height: 23px;
}
.button {
  display: inline-block;
  height: 100%;
  padding: 11px 25px;
  border-radius: 5px;
  box-shadow: none;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #059963;
  -webkit-transition-delay: initial;
  transition-delay: initial;
}
.button.buy-button {
  background-color: #00ab66;
}
.button.coming-soon {
  background-color: #b2dced;
}
.section {
  padding-top: 65px;
  padding-bottom: 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.section.hero {
  padding-top: 152px;
  padding-bottom: 0px;
  background-color: #1272b4;
  background-image: none;
  background-size: auto;
}
.hero-iphone {
  display: block;
  margin-right: auto;
  margin-bottom: -73px;
  margin-left: auto;
  text-shadow: black 0px 0px 0px;
}
.nav-link {
  display: inline-block;
  -webkit-transition: border 300ms ease;
  transition: border 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #5c5c5c;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
}
.nav-link:hover {
  text-decoration: underline;
}
.nav-link.w--current {
  border-bottom-style: solid;
  border-bottom-color: #1594cf;
  text-transform: none;
}
.nav-column {
  text-align: right;
}
.hero-header {
  margin-top: 36px;
  margin-bottom: 19px;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 42px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}
.hero-subtitle {
  margin-bottom: 20px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 15px;
  line-height: 22px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}
.call-to-action {
  margin-bottom: 69px;
}
.navbar {
  position: fixed;
  display: block;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.logo {
  margin-right: 12px;
  float: left;
}
.top-logo {
  height: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: left;
}
.floating-navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 1px 1px 3px 0px;
}
.edition-header {
  position: relative;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top-style: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #009be3;
  background-image: -webkit-radial-gradient(49% 157%, circle, #96d5ff, #0070ba);
  background-image: radial-gradient(circle at 49% 157%, #96d5ff, #0070ba);
  box-shadow: rgba(255, 255, 255, 0.49) 0px 6px 0px -4px inset;
}
.edition-price {
  display: inline-block;
  height: auto;
  padding-top: 10px;
  color: white;
  font-size: 18px;
  text-align: right;
  text-shadow: none;
}
.edition-cent {
  position: relative;
  left: 0px;
  top: -6px;
  display: inline-block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  float: none;
  clear: none;
  color: white;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  text-shadow: none;
}
.product-title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  text-align: center;
}
.product-title.business {
  padding-bottom: 20px;
  background-color: rgba(18, 78, 163, 0.81);
}
.product-title.pro {
  background-color: #008ed6;
}
.product-title.plus {
  padding-bottom: 20px;
  background-color: #2da1dc;
}
.product-title.pro-subscription {
  padding-bottom: 20px;
  background-color: #008ed6;
}
.pricing-section {
  margin-top: 40px;
  margin-bottom: 30px;
}
.top-navbar {
  background-color: white;
}
.edition-feature {
  position: relative;
  height: auto;
  padding-left: 10px;
  border-bottom: 1px solid rgba(184, 210, 255, 0.29);
  background-color: rgba(242, 247, 255, 0);
  box-shadow: none;
}
.popular {
  position: relative;
  left: 194px;
  top: 38px;
  right: 0px;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 150px;
  height: 20px;
  margin-top: -20px;
  background-color: #ff0090;
  background-image: -webkit-radial-gradient(50% 50%, circle farthest-side, #e01919, #fc0303);
  background-image: radial-gradient(circle farthest-side at 50% 50%, #e01919, #fc0303);
  box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset;
  opacity: 1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.feature-text {
  display: inline-block;
  margin-right: 0px;
  padding-top: 2px;
  padding-right: 0px;
  padding-left: 10px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 41px;
  font-weight: 400;
  text-align: left;
}
.feature-text.disabled-feature {
  color: #8c8787;
}
.buy-button-container {
  display: block;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 13px;
  background-color: rgba(4, 155, 214, 0.03);
  text-align: center;
}
.product-column {
  padding-right: 10px;
  padding-left: 10px;
}
.product-column.regular-column {
  margin-top: 10px;
}
.popular-text {
  padding: 2px 0px 0px 8px;
  color: white;
}
.server-heading {
  margin-top: 30px;
  color: #056ca8;
  font-size: 27px;
}
.checkmark {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 12px;
  float: left;
  font-family: Fontawesome, sans-serif;
  color: #09bd33;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
.checkmark.disabled-checkmark {
  display: block;
  color: #bfc7c1;
}
.server-image {
  display: block;
  width: 40%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  float: right;
  text-align: center;
}
.edition-price-per-year {
  display: block;
  margin-top: 15px;
  padding-bottom: 0px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.edition-price-per-year.popular-price {
  margin-top: 5px;
  padding-bottom: 23px;
}
.server-description {
  margin-top: 10px;
  font-family:'Open Sans', sans-serif;
  color: #051b57;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
.title-text {
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 27px;
  font-weight: 700;
  text-align: center;
}
.product-headline {
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
}
.product {
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid #91c9f7;
  border-radius: 5px;
}
.price-per-month {
  display: block;
}
.price-per-month.pro-price {
  margin-top: 10px;
}
.per-month {
  display: block;
  margin-top: 10px;
  color: white;
  line-height: 12px;
}
.power-server {
  padding-bottom: 20px;
  background-color: rgba(18, 78, 163, 0.81);
}
.business-server {
  padding-bottom: 20px;
  background-color: #008ed6;
}
.home-server {
  padding-bottom: 20px;
  background-color: #2da1dc;
}
.any-questions {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
}
.copyright-text {
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
}
.footer {
  margin-bottom: 30px;
  padding-bottom: 14px;
  border: 1px solid #deeeff;
}
.tab-style {
  background-color: #f0f3f7;
  font-family:'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.tab-style.w--current {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(7, 135, 240, 0.43);
  background-color: rgba(4, 155, 214, 0);
  font-family:'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}
.testimonials {
  margin-bottom: 30px;
  border-radius: 5px;
}
.quote {
  position: absolute;
  left: 11px;
  top: 21px;
  color: #787878;
  font-size: 50px;
}
.author {
  margin-top: 5px;
  padding-left: 35px;
  float: left;
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
}
.the-slider {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 120px;
  margin-left: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid #d4eafc;
  border-radius: 5px;
  background-color: #f4fafd;
}
.the-arrow {
  width: 40px;
  color: #333;
  font-size: 25px;
}
.the-slider-icon {
  color: rgba(35, 97, 168, 0.2);
}
.the-slider-icon:hover {
  color: rgba(35, 97, 168, 0.90);
}
.people-say {
  display: inline-block;
  margin-bottom: 20px;
  font-family:'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.edition-price-only {
  position: absolute;
  left: 90px;
  top: 104px;
  display: inline;
  padding-right: 0px;
  color: white;
  font-size: 14px;
}
.limited-time-offer {
  position: absolute;
  left: 40px;
  top: 149px;
  display: none;
  margin-top: 8px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 4px 10px;
  border: 1px solid #0048ff;
  border-radius: 6px;
  background-color: #79ad00;
  box-shadow: none;
  color: white;
  font-size: 13px;
}
.consumer-product-headline {
  display: block;
  color: white;
}
.only {
  display: block;
  padding-bottom: 10px;
  color: #154ea3;
  font-size: 15px;
}
.pricing-container {
  padding-left: 10px;
}
.the-tabs-menu {
  display: block;
  margin-top: 20px;
  text-align: center;
}
.for-pc-heading {
  margin-top: 30px;
  color: #056ca8;
  font-size: 30px;
  text-align: center;
}
.for-pc-description {
  font-family:'Open Sans', sans-serif;
  color: #0b33a1;
  font-size: 20px;
  text-align: center;
}
.for-windows-server-button {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #06f;
  background-color: #edf5ff;
  color: white;
  font-size: 14px;
}
.for-windows-server-button:hover {
  background-color: rgba(16, 92, 179, 0.78);
  color: white;
  text-decoration: underline;
}
.bottom-price-cent {
  position: relative;
  top: -3px;
  font-size: 11px;
}
.edition-price-coming-soon {
  padding-top: 10px;
  color: white;
  line-height: 25px;
}
.the-tab-link {
  margin-left: 2px;
  border-top: 1px solid #00aeff;
  border-right: 1px solid #00aeff;
  border-left: 1px solid #00aeff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #e6f0ff;
  color: #0869c4;
}
.the-tab-link.w--current {
  background-color: #00a2ff;
  color: white;
}
.old-price {
  color: #dbdbdb;
  line-height: 15px;
}
.old-edition-price {
  display: inline-block;
  font-size: 16px;
  text-decoration: line-through;
}
.old-edition-cent {
  position: relative;
  top: -4px;
  display: inline-block;
  font-size: 10px;
  text-decoration: line-through;
}
.the-tabs-content {
  border-top: 1px solid #e0e0e0;
}
.heart {
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
  font-family:'Fontawesome webfont', sans-serif;
  color: #cf0606;
  font-size: 16px;
}
.license-type-description {
  display: none;
  padding-top: 20px;
}
.star {
  display: none;
  padding-left: 3px;
  font-size: 12px;
  line-height: 17px;
}
html.w-mod-js *[data-ix="display-none"] {
  display: none;
}
@media (max-width: 991px) {
  p {
    font-size: 14px;
    line-height: 21px;
  }
  .section.hero {
    padding-top: 34px;
    padding-bottom: 1px;
  }
  .hero-iphone {
    text-shadow: black 0px 0px 0px;
  }
  .hero-header {
    font-size: 38px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .hero-subtitle {
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .product-title.pro-subscription {
    background-color: #008ed6;
  }
  .edition-feature {
    display: block;
    padding-left: 6px;
  }
  .popular {
    left: 133px;
    top: 40px;
  }
  .feature-text {
    padding-left: 5px;
    font-size: 12px;
    line-height: 41px;
  }
  .product-column {
    padding-right: 10px;
    padding-left: 0px;
  }
  .product-column.regular-column {
    padding-right: 10px;
    padding-left: 0px;
  }
  .checkmark {
    font-size: 18px;
  }
  .server-image {
    width: 50%;
    margin-top: 40px;
  }
  .product-headline {
    display: none;
  }
  .responsive-menu {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(7, 135, 240, 0.43);
    background-color: #f2f9fc;
  }
  .responsive-menu-button.w--open {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(7, 135, 240, 0.43);
    background-color: rgba(4, 155, 214, 0);
  }
  .responsive-menu-icon {
    color: #088ea8;
  }
  .edition-price-only {
    left: 57px;
    top: 103px;
  }
  .limited-time-offer {
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: none;
    font-size: 12px;
  }
  .pricing-row {
    padding-left: 12px;
  }
  .all-editions {
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  h2 {
    margin-top: 0px;
  }
  .section {
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
  }
  .section.hero {
    padding-right: 38px;
    padding-bottom: 52px;
    padding-left: 38px;
    text-align: center;
  }
  .hero-iphone {
    margin-bottom: 1px;
    text-shadow: black 0px 0px 0px;
  }
  .nav-column {
    padding-top: 22px;
    text-align: center;
  }
  .hero-header {
    margin-top: 30px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .navbar {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
  }
  .logo {
    display: inline-block;
    margin-top: -6px;
    float: none;
  }
  .edition-feature {
    padding-left: 13px;
  }
  .popular {
    left: 434px;
  }
  .feature-text {
    padding-left: 10px;
    font-size: 14px;
  }
  .product-column {
    margin-bottom: 50px;
    padding-right: 10px;
    padding-left: 0px;
  }
  .server-heading {
    padding-left: 10px;
  }
  .server-image {
    width: 25%;
    float: none;
  }
  .server-description {
    margin-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  .people-say {
    padding-left: 20px;
  }
  .edition-price-only {
    left: 213px;
    top: 102px;
  }
  .pricing-row {
    padding-left: 0px;
  }
}
@media (max-width: 479px) {
  h3 {
    font-size: 18px;
    line-height: 23px;
  }
  p {
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 125px;
  }
  .section {
    text-align: center;
  }
  .hero-iphone {
    text-shadow: black 0px 0px 0px;
  }
  .nav-link {
    display: block;
    background-color: transparent;
    color: #013978;
  }
  .nav-link.w--current {
    display: block;
    background-color: transparent;
  }
  .hero-header {
    font-size: 32px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .edition-feature {
    padding-left: 11px;
  }
  .popular {
    left: 194px;
  }
  .feature-text {
    padding-left: 10px;
  }
  .product-column {
    padding-right: 8px;
    padding-left: 0px;
  }
  .popular-text {
    padding-left: 0px;
  }
  .server-heading {
    padding-right: 4px;
    padding-left: 10px;
  }
  .server-image {
    width: 30%;
  }
  .responsive-menu {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(7, 135, 240, 0.43);
    background-color: #f2f9fc;
  }
  .responsive-menu-button.w--open {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(7, 135, 240, 0.43);
    background-color: rgba(4, 155, 214, 0);
  }
  .responsive-menu-icon {
    color: #0a69c2;
  }
  .the-slider {
    height: 210px;
    margin-right: 10px;
  }
  .people-say {
    padding-left: 0px;
    font-size: 14px;
  }
  .edition-price-only {
    left: 91px;
  }
  .server-product-column {
    margin-bottom: 30px;
  }
  .the-tab-link {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
/*
******************************************
Cip code
******************************************
*/

/* The main testimonial post textarea*/
.testimonials-post textarea{
    width:100%;
    height:50px;
    
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
/* Align everything right*/
.align-right{
    text-align:right;
}
/*Space things out a bit*/
.testimonials-post div{
    margin: 10px 0 5px 0;
}
.testimonials-post div div{
    margin:0px;
}
/*Style the say it now button*/
.testimonials-post input[type="submit"]{
    width:100px;
    line-height: 20px;
    text-transform: uppercase;
}
.testimonials-section .testimonial{
    border:1px solid #000000;
    padding:20px;
    margin:20px;
    
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}